/** общие стили */
@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

/** page */
@import url('./page/page.css');

/** root */
@import url('./root/root.css');

/** swiper */
@import url('../vendor/swiper/swiper.css');

/** Код */

.link {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease;
}

.link:hover {
  opacity: .6;
  cursor: pointer;
}

.link_disabled {
  pointer-events: none;
  cursor: default;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------- section ---------- */

.section {
  position: relative;
  width: 100%;
}

.section__container {
  position: relative;
  margin: 0 auto;
  max-width: 1620px;
  width: 100%;
  overflow: hidden;
}

.section__wrapper {
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 17px;
  max-width: 1420px;
  width: 1368px;
  background: #F0F4F8;
  border-radius: 64px 6px;
}

.section__content {
  margin: 0 auto;
  max-width: 1245px;
  position: relative;
}

.section__title {
  margin: 0;
  padding-bottom: 30px;
  /* max-width: 446px; */
  font-weight: 300;
  font-size: 34px;
  line-height: 110%;
}

.section__subtitle {
  margin: 24px 0 0;
  max-width: 442px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.section__text {
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* ---------- header ---------- */

.header {
  width: 100%;
  background: #F0F4F8;
}

.header__container {
  margin: 0 auto;
  max-width: 1245px;
}

.header__menu {
  height: 53px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #CBD8E9;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.header__title {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.header__location {
  position: relative;
  padding-left: 20px;
  padding-right: 36px;
}

.header__location::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: center / contain no-repeat url('../images/icons/arrow-region-selection.svg');
  width: 12px;
  height: 12px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__lang-switcher {
  width: 28px;
  height: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.header__lang {
  /* padding: 1px 4px 0; */
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid red;
}

.header__content {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  color: #0000DE;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo {
  padding-top: 10px;
  width: 228px;
  height: 46px;
}

.phone {
  white-space: nowrap;
}

.header__phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
}

.header__phone::before {
  content: '';
  margin: auto;
  padding: 0 6px 0 0;
  background: transparent url('../images/icons/phone.svg') center / 12px 12px no-repeat;
  width: 16px;
  height: 16px;
}

.header__search {
  padding-top: 5px;
}

.header__search-btn {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  background: center / contain no-repeat url('../images/icons/loupe.svg');
  width: 24px;
  height: 24px;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}

.button_size_xl {
  width: 190px;
  height: 68px;
}

.button_size_l {
  width: 174px;
  height: 48px;
}

.button_size_s {
  width: 159px;
  height: 68px;
}

.button_size_405x48 {
  width: 405px;
  height: 48px;
}

.button_size_252x48 {
  width: 252px;
  height: 48px;
}

.button_size_190x68 {
  width: 190px;
  height: 68px;
}

.button_size_166x48 {
  width: 166px;
  height: 48px;
}

.button_size_133x48 {
  width: 133px;
  height: 48px;
}

.button_size_130x48 {
  width: 130px;
  height: 48px;
}

.button_type_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button_style_blue {
  padding: 14px;
  box-sizing: border-box;
  background-color: #0000DE;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  border-radius: 20px 0px;
}

.button_style_white {
  padding: 14px;
  box-sizing: border-box;
  background-color: #fff;
  color: #0000DE;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  border-radius: 20px 0px;
}

.breadcrumbs {
  margin-top: 40px;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 110%;
  color: #8FB1C7;
}

.breadcrumbs__item:not(.breadcrumbs__item:last-child):after {
  content: '';
  width: 4px;
  height: 8px;
  background: center / contain no-repeat url('../images/icons/arrow-left-breadcrumbs.svg');
  padding: 0 10px;
  color: #8FB1C7;
  font-weight: 400;
  font-size: 10px;
  line-height: 110%;
}

.breadcrumbs__link {
  display: inline-block;
  border-bottom: 1px solid #8FB1C7;
}

.nav__link_bgr_img {
  position: relative;
  padding-right: 25px;
}

.nav__link_bgr_img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: center / contain no-repeat url('../images/icons/leaflet.svg');
  width: 16px;
  height: 16px;
}

/* ---------- main ---------- */

.main {
  width: 100%;
}

/* ---------- intro ---------- */

.intro {
  background-color: #F0F4F8;
  position: relative;
}

.intro__container {
  background: center / contain no-repeat url('../images/pics/bgr-abstract-01.svg');
}

.intro__slide-img {
  margin-right: 130px;
}

.intro__slide-title {
  margin: 0;
  padding: 0;
  display: block;
  width: 667px;
  position: absolute;
  bottom: 284px;
  left: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  text-align: left;
}

.intro__slide-text {
  margin: 0;
  padding: 0;
  display: block;
  width: 667px;
  position: absolute;
  bottom: 233px;
  left: 0;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: left;
}

.intro__buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 123px;
  left: 0;
}

/* ---------- products ---------- */

.products {
  margin-top: 98px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.card {
  display: flex;
  background-color: #F0F4F8;
  border-radius: 6px;
  overflow: hidden;
}

.card_size_big {
  width: 825px;
  align-items: flex-end;
}

.card_size_small {
  width: 405px;
}

.card__wrapper {
  display: flex;
  align-items: center;
}

.card__content {
  margin: 32px 0 38px 40px;
}

.card__subtitle {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #79A6C3;
}

.card__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #000;
}

.card__stat-data {
  margin: 0 35px 26px 0;
  display: inline-block;
}

.card__stat-data_margin-bottom_s {
  margin-bottom: 18px;
}

.card__stat-data-value {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  color: #355DFB;
}

.cart__stat-data-value_font-size_s {
  font-size: 32px;
}

.card__stat-data-label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #000;
}

.card__text {
  margin: 0;
  padding-bottom: 27px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #6E9BB8;
}

.card__buttons {
  display: flex;
  gap: 17px;
}

.products__card-img {
  object-fit: contain;
}

.products__card-img_position_top {
  object-fit: contain;
  padding-bottom: 60px;
}

/* ---------- advantages ---------- */

.advantages {
  margin-top: 118px;
  margin-bottom: -66px;
  z-index: 1000;
}

.advantages__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.advantages__elm {
  width: 615px;
  height: 135px;
  border-radius: 10px;
}

.advantages__elm_bgr_caret {
  background: left / contain no-repeat url('../images/icons/caret-double-right.svg');
  background-color: #0000DE;
}

.advantages__elm_bgr_target {
  background: left / contain no-repeat url('../images/icons/target.svg');
  background-color: #0000DE;
}

.advantages__elm-text {
  margin: 0;
  padding: 20px 48px 20px 135px;
  max-width: 440px;
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* ---------- profit calculation ---------- */

.profit-calc {
  margin: 0 auto;
}

.profit-calc__wrapper {
  padding-top: 169px;
  padding-bottom: 110px;
}

.profit-calc__container {
  display: flex;
  gap: 41px;
}

.profit-calc__chart {
  width: 385px;
  height: 374px;
  position: relative;
  background: left bottom/ 290px 374px no-repeat url('../images/pics/chart-bgr.svg'),
              left bottom/ 390px 374px no-repeat url('../images/pics/chart-lines.svg');

}

.profit-calc__chart-point-01 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: -1px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}

.profit-calc__chart-point-02 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 55px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}

.profit-calc__chart-point-03 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 28px;
  left: 112px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}

.profit-calc__chart-point-04 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 54px;
  left: 168px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}

.profit-calc__chart-point-05 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 90px;
  left: 225px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}

.profit-calc__chart-point-06 {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 142px;
  left: 282px;
  background: center/ 10px 10px no-repeat url('../images/pics/chart-point.svg');
}


.form {
  display: flex;
  width: 460px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 34px;
}

.form__label {}

.form__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__data-label {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.form__data-measure {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.form__data-measure-index {
  padding-left: 5px;
}

.form__input {
  margin-top: 12px;
  width: 460px;
  height: 6px;
}

/* ---------- info ---------- */
.info {
  margin-top: 124px;
}

.info__cards {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.info__card {
  padding: 26px 28px 36px 30px;
  box-sizing: border-box;
  width: 405px;
  height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F0F4F8;
  border-radius: 10px;
  overflow: hidden;
}

.info__icon {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 18px;
  right: 18px;
}

.info__subtitle {
  margin: 0;
  color: #79a6c3;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  padding-bottom: 10px;
}

.info__title {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  padding-bottom: 28px;
}

.info__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
  list-style: none;
}

.info__list-item {
  padding-left: 29px;
  display: inline-block;
  position: relative;
}

.info__list-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 20px;
  background: center / contain no-repeat url('../images/icons/arrow-right-info.svg');
}

.info__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #0000DE;
}

/* ---------- opportunities ---------- */

.opportunities {
  margin: 109px auto 112px;
}

.opportunities__container {
  display: flex;
  gap: 60px;
}

.opportunities__theses {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.opportunities__theses-list {
  /* margin-bottom: 60px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 33px;
}

.opportunities__theses-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.opportunities__icon {
  width: 64px;
  height: 64px;
  background: left top/ 30px 52px no-repeat url('../images/pics/bgr-abstract-02.svg');
}

.opportunities__theses-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.opportunities__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.opportunities__charts {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.opportunities__charts-item {
  width: inherit;
  /* height: inherit; */
}

.opportunities__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

.histogram {
  margin-top: 15px;
  width: 100%;
  /* height: 100%; */
  display: flex;
  gap: 51px;
  background-image: url('../images/pics/graph-bgr-line.svg');
  background-size: 100% 23px;
  background-repeat: repeat-y;
}

.histogram__section {
  width: 95px;
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.histogram__label {
  margin: 0 0 10px;
}

.histogram__label-value {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #7C83A1;
}

.histogram__label-value_font_blue {
  color: #355DFB;
}

.histogram__label-value_font-size_l {
  font-size: 30px;
}

.histogram__label-period {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #7C83A1;
}

.histogram__label-period_font_blue {
  color: #355DFB;
}

.histogram__bar {
  width: 95px;
  background-color: #C9CEE1;
  border-radius: 18px 0px;
}

.histogram__bar_size_s {
  height: 33px;
}

.histogram__bar_size_m {
  height: 46px;
}

.histogram__bar_size_l {
  height: 105px;
}

.histogram__bar_bgr-color_blue {
  background-color: #355DFB;
}

.histogram__legend {
  margin: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.histogram__legent_font_blue {
  font-weight: 700;
  color: #355DFB;
}


.linear-graph {
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.linear-graph__image {
  width: 364px;
  background-image: url('../images/pics/graph-bgr-line.svg');
  background-size: 100% 23px;
  background-repeat: no-repeat space;
}

.linear-graph__legend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.linear-graph__legend-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.linear-graph__legend-icon {
  margin: auto 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #7C83A1;
}

.linear-graph__legend-icon_color_blue {
  background-color: #355DFB;
}

.linear-graph__legend-text {
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.opportunities__profit {
  width: 100%;
  margin-top: 37px;
}

.opportunities__line {
  margin: 12px 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(198, 217, 233, 0) 0%, #C6D9E9 49.48%, rgba(198, 217, 233, 0) 100%);
  background-repeat: no-repeat;
  /* transform: matrix(0, 1, 1, 0, 0, 0); */
}

.opportunities__profit-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.opportunities__profit-item {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opportunities__profit-icon {
  background: left/ 20px 20px no-repeat url('../images/icons/check-circle-grey.svg');
}

.opportunities__profit-icon_style_blue {
  background-image: url('../images/icons/check-circle-blue.svg');
}

.opportunities__profit-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.opportunities__profit-text_style_grey {
  padding-left: 24px;
  color: #7C83A1;
}

.opportunities__profit-text_style_blue {
  padding-left: 24px;
  color: #355DFB;
}

.opportunities__profit-text_style_bold {
  font-weight: 700;
}

.opportunities__profit-progress-bar-bgr {
  width: 340px;
  height: 20px;
  background-color: #EAF0F7;
  border-radius: 14px 0px;
}

.opportunities__profit-progress-bar-bgr_style_blue {
  background-color: #EAF0F7;
}

.opportunities__profit-progress-bar {
  width: 76px;
  height: 20px;
  background-color: #9AA3C8;
  border-radius: 14px 0px;
}

.opportunities__profit-progress-bar_style_blue {
  width: 276px;
  background-color: #355DFB;
}

/* ---------- reviews ---------- */

.reviews {
  margin-top: 112px;
  position: relative;
}

.reviews__slide-img {
  position: relative;
  width: 405px;
  height: 220px;
  border-radius: 70px 6px;
}

.reviews__slide-img::after {
  content: '';
  width: 113px;
  height: 186px;
  position: absolute;
  top: 17px;
  right: 26px;
  z-index: 1000;
  background-image: url('../images/icons/btn-play.svg');
  background-repeat: no-repeat;
  background-color: red;
  /* background: top/ contain no-repeat url('../images/icons/btn-play.svg'); */
}

.reviews__slide-user-name {
  margin: 0;
  padding-top: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
}

.reviews__slide-product-name {
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #6E9BB8;
  text-align: left;
}

/* ---------- footer ---------- */

.footer {
  margin: 100px auto 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f0f4f8;
}

.footer__container {
  margin: 87px auto 90px;
  max-width: 1245px;
}

.footer__wrapper {
  margin-bottom: 73px;
  display: flex;
  align-items: center;
  gap: 84px;
}

.footer__logo {
  margin-right: 104px;
  width: 156px;
  height: 32px;
}

.footer__search {
  padding-left: 11px;
  width: 891px;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.footer__search-button {
  width: 28px;
  height: 28px;
  background: center/ 28px 28px no-repeat url('../images/icons/loupe-black.svg');
}

.footer__search-input {
  margin: 10px 24px;
  padding: 0;
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #79A6C3;
}

.footer__contacts {}

.footer__phone {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 37px;
  line-height: 110%;
  color: #0000DE;
}

.footer__email {
  margin: 8px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.footer__address {
  margin: 45px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #0000DE;
}

.footer__work-time {
  margin: 7px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.footer__socials {
  margin-top: 46px;
  display: flex;
  gap: 10px;
}

.footer__socials-item {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.footer__socials-logo {
  object-fit: contain;
}

.footer__menu {}

.footer__menu-list {
  display: flex;
  gap: 60px;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
}

.footer__menu-list-title {
  margin: 0 0 14px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #0000DE;
}

.footer__menu-list-subtitle {
  margin: 20px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
}

.footer__legal {}

.footer__disclaimer {
  margin-top: 69px;
}

.footer__disclaimer-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.footer__disclaimer-text {
  margin: 11px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.footer__info {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}

.footer__legal-docs {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #6E9BB8;
}
