.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: var(--transition-btn-hover);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}
