.navbar__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
  list-style: none;
}

@media screen and (min-width: 390px) {
  .navbar__list {
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .navbar__list {
    gap: 24px;
  }
}
