.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  min-width: inherit;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
}

@media screen and (min-width: 1420px) {
  .page {
    border-radius: var(--border-radius-64) var(--border-radius-6);
    box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09);
  }
}
